@charset "utf-8";
/* CSS Document */

* {
	margin: 0%;
	padding: 0;
}

body{
	background-color: ghostwhite;
}

.container {
		margin: 2% 15% 2% 15%;
}

.info_bar{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: gainsboro;
	color: gainsboro;
	text-align: center;
}

.info_bar ul {
	list-style-type: none;
}

.info_bar li{
	display: inline;
	margin-right: 3%;
}

.info_bar ul a{
	color: #999;
	text-decoration: none;
}

.info_bar li a:hover{
	text-decoration: underline;
}

.container {
	background-color: black;
}


.leftside {
	width: 25%;
	display: inline-block;
	float: left;
	text-align: left;
}

.rightside {
	margin-left: 5%;
	width: 70%;
	float: left;
}

.cadre {
	background-color: #4A89C3;
	padding: 1%;
	margin-top: 3%;
	margin-bottom: 1%;
}

.cadre h4 {
	text-align: center;
	color: ghostwhite;
}


.stitre{
	font-weight: bold;
	font-size: 19px;
}

.sstitre{
	color: #4A89C3;
	font-size: 17px;
}

.annee{
	text-align: right;
	font-weight: lighter;
	font: 13px 'Century Gothic',sans-serif;
}

.image{
	width: 100%;
	height: 100%;
}

.tab_langue {
	margin-bottom: 5%;
}

.tab_langue_left{
	width: 30%;
	display: inline-block;
	margin-bottom: 2%;
}

.tab_langue_right{
	width: 70%;
	float: right;
}

.tab_ok{
	background-color: #4A89C3;
}

.tab_ko{
	background-color: #AFD7F7;
}

p {
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	font-size: 90px;
	color: #4A89C3;
}

h2 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 5%;
	color: gainsboro;
}

h3 {
	text-align: center;
	margin-bottom: 5%;
}

h4 {
	margin: 1%;
}

ul {
}

table {
    table-layout: fixed;
}

td {
    border: 1px solid black;
	width: 15px;
	height: 15px;
}
