.columns {
  padding: 0;
}

.large-9{
  width:100%;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: black;
}

h1, h3 {
	color: white !important;
}

body{
	font-family: sans-serif;
}

.menu{
	height: 40px;
}
