ul, li{
  list-style-type: none;
}

.edit-ul li{
	list-style-type: none;
	padding: 30px;
	border: solid 1px black;
}

.button-submit{
	margin: 10px 0px;
	width: 95px;
	height: 30px;
}

label{
	margin-right: 50px;
	display: inline-block;
	text-align: right;
}

main{
  margin-bottom: 100px;
}

form{
  margin-top: 25px;
}


/*============================================================TASKLIST GENERAL*/
.tasklist{
  list-style-type: none;
  width: 1260px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  line-height: 4.5;
}

.tasklist-li-title{
	font-weight: bold;
	background-color: #688299 !important;
}


.tasklist span{
  padding: 10px 0;
  display: inline-block;
}


.tasklist-item-id{
  width: 50px;
  text-align: center;
}
.tasklist-item-description{
width: 300px;
}
.tasklist-item-date{
width: 150px;
}
.tasklist-item-due{
width: 150px;
}
.tasklist-item-created_by{
width: 100px;
}
.tasklist-item-assigned_to{
width: 100px;
}
.tasklist-item-done_by{
width: 100px;
}
.tasklist-item-priority{
width: 80px;
text-align: center;
}
.tasklist-item-status{
width: 80px;
text-align: center;
font-size: 20px;
}
.tasklist-item-name{
width: 330px;
text-align: center;
font-size: 20px;
}
.tasklist-item-email{
width: 700px;
text-align: center;
font-size: 20px;
}
.tasklist-item-delete{
width: 80px;
text-align: center;
font-size: 20px;
}

.tasklist li.is-done span{
	text-decoration: line-through;
  color: grey;

}

.tasklist li {
	list-style-type: none;
	cursor: pointer;
}

.tasklist li:nth-child(odd){
	background-color: #4A88C2;
}

.tasklist-li-data:hover{
	background-color: #455766 !important;
}

/*=================================================================FONTAWESOME*/
.fa-plus-circle{
	float: right;
	position: fixed;
	bottom: 100px;
	right: 200px;
	color: green;
}

.fa-trash{
	color: red;
}
