
/*============================================================TASKLIST GENERAL*/
.userlist{
  list-style-type: none;
  width: 1260px;
  margin: 0 auto;
  padding: 30px;
  line-height: 4.5;
}

.userlist-li-title{
	font-weight: bold;
	background-color: #688299 !important;
}


.userlist span{
  padding: 10px 0;
  display: inline-block;
}

.userlist-item-id{
  width: 50px;
  text-align: center;
}

.userlist-item-name{
width: 330px;
text-align: center;
font-size: 20px;
}

.userlist-item-email{
width: 700px;
text-align: center;
font-size: 20px;
}

.userlist-item-delete{
width: 80px;
text-align: center;
font-size: 20px;
}


.userlist li {
	list-style-type: none;
	cursor: pointer;
}

.userlist li:nth-child(odd){
	background-color: #4A88C2;
}

.userlist-li-data:hover{
	background-color: #455766 !important;
}
